# User systemd unit for the kiosk browser.
# The helper script path is rendered at install time.


[Unit]

Description=Firefox Auto (restart on crash)

Wants=pyserver.service

After=pyserver.service



[Service]

Type=simple

ExecStart=/bin/bash __HOME__/bin/start_browser_after_server.sh
Restart=always

RestartSec=2



[Install]

WantedBy=default.target
